.popular-container {
  padding-top: 4rem;
  grid-template-columns: 250px;
  justify-content: center;
  row-gap: 5.5rem;
}

.popular-card {
  position: relative;
  background-color: var(--container-color);
  padding: 7rem 2rem 1.5rem;
  box-shadow: 0 8px 20px hsla(19, 64%, 48%, 0.08);
  border-radius: 1rem;
  text-align: center;
  transition: background 0.4s; /*dark theme*/
}

.popular-img {
  width: 220px;
  height: 135.38px;
  position: absolute;
  inset: 0;
  top: -2.5rem;
  margin: 0 auto;
  transition: transform 0.4s;
}

.popular-name {
  font-size: var(--h3-font-size);
  font-family: var(--title-font);
  margin-bottom: 0.25rem;
}

.popular-description {
  display: block;
  font-size: var(--smaller-font-size);
  margin-bottom: 1rem;
}

.popular-price {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
}

.popular-button {
  display: flex;
  background-color: var(--first-color);
  border: none;
  border-radius: 50%;
  padding: 6px;
  color: #fff;
  font-size: 1.25rem;
  outline: none;
  box-shadow: 0 4px 20px hsla(19, 64%, 20%, 0.2);
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  transition: background 0.3s;
}

.popular-button:hover {
  background-color: var(--first-color-alt);
}

.popular-card:hover .popular-img {
  transform: translateY(-0.25rem);
}
